# Frontend
frontend/node_modules/
frontend/.env.local
frontend/.vscode/
frontend/build/
frontend/dist/
frontend/coverage/

# Backend
backend/.idea/
backend/target/
backend/.vscode/
backend/.env
backend/bin/

# OS
.DS_Store
Thumbs.db
*.log

# IDEs
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment
.env
.env.*.local
